<!DOCTYPE html>

<body>
<h1>Output Results</h1>
<ul>

<li> <%= data.dt.FirstName%> </li>
</ul>
<p>Your form has been submitted with name <%=data.dt.FirstName%> <%=data.dt.LastName%> </p>

</body>
</html>